
@{
	ViewData["Title"] = "Lecturers Home";
}
<div class="container">
	<h2>Welcome to lecturer panel</h2>
	<p>Please choose an option</p>
	<a asp-controller="Lecturer" asp-action="AddLecturer">Add Lecturer</a>
	<a asp-controller="Lecturer" asp-action="LecturerList">Lecturer List</a>
</div>
