@{
	ViewData["Title"] = "Lecturers Home";
}
<style>
	body {
		background-color: black;
		color: white;
		font-family: Arial, sans-serif;
	}

	.container {
		background-color: dimgray;
		padding: 30px;
		border-radius: 10px;
		width: 500px;
		margin: 100px auto;
		text-align: center;
	}

	a {
		display: inline-block;
		margin: 10px;
		padding: 12px 20px;
		background-color: forestgreen;
		color: white;
		border-radius: 5px;
		text-decoration: none;
	}

		a:hover {
			background-color: mediumspringgreen;
		}
</style>
<div class="container">
	<h2>Welcome to lecturer panel</h2>
	<p>Please choose an option</p>
	<a asp-controller="Lecturer" asp-action="AddLecturer">Add Lecturer</a>
	<a asp-controller="Lecturer" asp-action="LecturerList">Lecturer List</a>
</div>
