@model IEnumerable<ContractMonthlyClaimSystem.Models.Lecturer>

@{
    ViewData["Title"] = "Lecturer List";
}

<div class="container">
    <h2>Lecturers</h2>
    <table>
        <tr>
            <th>Lecturer Name</th>
            <th>Topic</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
        @foreach (var lecturer in Model)
        {
            <tr>
                <td>@lecturer.LecturerName</td>
                <td>@lecturer.Topic</td>
                <td>@lecturer.Date.ToShortDateString()</td>
                <td>@lecturer.Department</td>
            </tr>
        }
    </table>
</div>
