@{
	ViewData["Title"] = "Upload Documents";
}

<div class="container">
	<h2 class="text-center">Upload Documents</h2>
	<form asp-controller="Claim" asp-action="UploadDocuments" method="post" enctype="multipart/form-data">
		<div class="form-group mb-3">
			<label>Seclect File</label>
			<input type="file" name="document" class="form-control" />
		</div>
		<button type="submit" class="btn btn-secondary w-100">Upload</button>
	</form>
</div>