@{
    ViewData["Title"] = "About";
}

<div class="page-container">
    <h1>About This Project</h1>
    <p>This system was developed to manage lecturer panels, dashboards, and  submissions.</p>
</div>