@{
	ViewData["Title"] = "Home Page";

}
<div class="container text-center" style="margin-top: 80px;">
	<h1>Welcome to the Lecturer Claim Management System</h1>
	<p class="lead">Please login or register to continue.</p>

	<div class="d-flex justify-content-center gap-3 mt-4">
		<a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg">Login</a>
		<a asp-controller="Account" asp-action="Registration" class="btn btn-success btn-lg">Register</a>
	</div>
</div>

