@model ContractMonthlyClaimSystem.Models.User;
@{
	ViewData["Title"] = "Register";

}

<div class="container">
	<h4 class="mb-3 text-center">Create an Account</h4>
	<form asp-controller="Account" asp-action="Registration" method="post">
		<div class="form-group mb-3">
			<label>Full Name</label>
			<input asp-for="Name" class="form-control" placeholder="Enter your full name" />
		</div>
		<div class="form-group mb-3">
			<label>Surname</label>
			<input asp-for="Surname" class="form-control" placeholder="Enter your surname" />
		</div>
		<div class="form-group mb-3">
			<label>Your Age</label>
			<input asp-for="Age" class="form-control" placeholder="Enter your age" min="18" />
		</div>
		<div class="form-group mb-3">
			<label>Email</label>
			<input asp-for="Email" class="form-control" placeholder="Enter your email" />
		</div>
		<div class="form-group mb-3">
			<label>Password</label>
			<input asp-for="Password" class="form-control" placeholder="Create your password" />
		</div>
		<div class="form-group mb-3">
			<label asp-for="Role" class="form-label">Role</label>
			<select asp-for="Role" class="form-select">
				<option value="" disabled selected>Select your role</option>
				<option value="Lecturer">Lecturer</option>
				<option value="Programme Coordinator">Programme Coordinator</option>
				<option value="Academic Manager">Academic Manager</option>
			</select>
		</div>
		<button class="btn btn-success w-100" type="submit">Register</button>
	</form>
	<p class="text-crnter mt-3">
		Already have an account?
		<a href=@Url.Action("Login", "Account")> Login here</a>
	</p>
</div>
